{#
/**
 * @file
 * Related projects snippet for Work nodes.
 */
#}
<section class="work-item__related work-item__related--random">
  <h2 class="work-item__related-title">Mehr Projekte</h2>
  <div class="work-item__related-list">
    {{ related_work }}
  </div>
</section>
