<div id="page">

  {% include '@gin_frontend/parts/header.html.twig' %}

  {# Slogan below the header #}
  {% if site_slogan %}
    <div class="site-slogan site-slogan--page">{{ site_slogan }}</div>
  {% endif %}

  <main id="main" role="main">
    {{ page.content }}
  </main>

  {{ page.footer }}
</div>